<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hubery.dao.NewsCenterMapper">

    <insert id="addNewsCenter" parameterType="NewsCenter">
        INSERT INTO t_news_center (title, content, ncType,filePath,ncStatus,creationTime,updateTime)
        VALUES (#{title}, #{content},#{ncType}, #{filePathString},1,NOW(),NOW());
    </insert>

    <update id="updNewsCenter" parameterType="NewsCenter">
        UPDATE t_news_center SET updateTime = NOW()

        <if test="title != null and title != ''">
            <![CDATA[ , title  = #{title}  ]]>
        </if>
        <if test="content != null and content != ''">
            <![CDATA[ , content  = #{content}  ]]>
        </if>
        <if test="ncType != null and ncType != '' and ncType !=0 ">
            <![CDATA[ , ncType  = #{ncType}  ]]>
        </if>
        <if test="filePathString != null and filePathString != ''">
            <![CDATA[ , filePath  = #{filePathString}  ]]>
        </if>
        WHERE id = #{id}
    </update>

</mapper>